<h3>Contratos</h3>
<div class="card">
    <div class="card-body">
        <table class="table table-striped ">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Número</th>
                    <th scope="col">Empresa</th>
                    <th scope="col">Fator de redução</th>
                    <th scope="col">Email</th>
                    <th scope="col">Fiscal</th>
                    <th scope="col">Status</th>
                    <th scope="col">Ações</th>
                </tr>
            </thead>
            <tbody>
                {{#each contratos}}
                    <tr>
                        <td>{{numero}}</td>
                        <td>{{empresa.razao_social}}</td>
                        <td>{{fator_reducao}}</td>
                        <td>{{email}}</td>
                        <td>{{fiscal}}</td>
                        <td>{{status}}</td>
                        <td>
                            <form action="/adminContratos/contratos/delete/" method="POST">
                            <a href="/adminContratos/contratos/edit/{{_id}}" class="btn btn-light" data-toggle="tooltip" data-placement="top" title="Editar"><i class="material-icons md-18">edit</i></a>
                            <input type="hidden" name="id" value="{{_id}}">                    
                            <button class="btn btn-light" type="submit" data-toggle="tooltip" data-placement="top" title="Remover"><i class="material-icons md-18">remove_circle</i></button>
                            </form>
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td><h5>Nenhum contrato cadastrado.</h5></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {{/each}}
            </tbody>
        </table>
        <br>
        <a href="/adminContratos/contratos/add"><button class="btn btn-success"> NOVO </button></a>
    </div>
</div>
