<h2>Requisições</h2>
<hr>

<table class="table-requisicoes" class="table table-striped table-sm" style="width:100%">
    <thead>
        <tr>
            <th>Numero</th>
            <th>Data</th>
            <th>Itens</th>
            <th>Valor total</th>
            <th>Status</th>
            <th>Prazo</th>
            <th>Solicitante</th>
            <th>Contrato</th>
            <th>Ações</th>
        </tr>
    </thead>
    
    <tbody>
        {{#each requisicoes}}
            <tr>
                <th>{{numero}}</th>
                <th>{{data_criacao}}</th>
                <th>{{quantidade_itens}}</th>
                <th>{{valor_total}}</th>
                <th>{{status}}</th>
                <th>Calcular</th>
                <th>{{solicitante.nome}}</th>
                <th>{{contrato.numero}}</th>
                <th>Edit, Env, Rem</th>
            </tr>
        {{else}}
            <tr>
                <th><h5>Nenhuma requisição cadastrada.</h5></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
        {{/each}}
    </tbody>
    
    <tfoot>
        <tr>
            <th>Numero</th>
            <th>Data</th>
            <th>Itens</th>
            <th>Valor total</th>
            <th>Status</th>
            <th>Prazo</th>
            <th>Solicitante</th>
            <th>Contrato</th>
            <th>Ações</th>
        </tr>
    </tfoot>
</table>
<a href="/requisicoes/add"><button class="btn btn-success">Nova</button></a>