<h2>Requisições</h2>
<hr>
<div class="card">
    <div class="card-body">
        <table style="font-size:13px" class="table table-striped table-bordered table-sm" >
            <thead class="thead-dark">
                <tr>
                    <th>Numero</th>
                    <th>Data</th>
                    <th>Itens</th>
                    <th>Valor total</th>
                    <th>Status</th>
                    <th>Prazo</th>
                    <th>Solicitante</th>
                    <th>Contrato</th>
                    <th>Ações</th>
                </tr>
            </thead>    
            <tbody>
                {{#each requisicoes}}
                    <tr>
                        <td>{{numero}}</td>
                        <td>{{date_br data_criacao }}</td>
                        <td>{{quantidade_itens}}</td>
                        <td>{{currency valor_total}}</td>
                        <td>{{status}}</td>
                        <td>{{date_br prazo_entrega}}</td>
                        <td>{{solicitante.nome}}</td>
                        <td>{{contrato.numero}}</td>
                        <td>
                            <a href="/requisicoes/view/{{_id}}">
                                <i class="material-icons md-18">edit</i>
                            </a> 
                        Env, Can
                        </td>
                    </tr>
                {{else}}
                    <tr>
                        <td><h5>Nenhuma requisição cadastrada.</h5></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                {{/each}}
            </tbody>
            
            <tfoot class="thead-dark">
                <tr>
                    <th>Numero</th>
                    <th>Data</th>
                    <th>Itens</th>
                    <th>Valor total</th>
                    <th>Status</th>
                    <th>Prazo</th>
                    <th>Solicitante</th>
                    <th>Contrato</th>
                    <th>Ações</th>
                </tr>
            </tfoot>
        </table>
        <a href="/requisicoes/add"><button class="btn btn-success">Nova</button></a>                
    </div>
</div>
